@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

.App {
  position: relative;
}

:root {
  --color-background: #f9f7f3;     
  --color-surface: #fef2d6;     
  --color-primary: #3e2c18;       
  --color-secondary: #e1d3b8;      
  --color-accent: #d6b98c;        
  --color-muted: #e9e3d7;           
  --color-link: #8c6f4a;            
}   

::-webkit-scrollbar {
    width: 8px;
    background: var(--color-muted);
}

::-webkit-scrollbar-thumb {
    background: var(--color-link);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-link);
}